#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.display {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
